@import "tailwindcss";

*{
    scroll-behavior: smooth;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
    font-family: 'Poppins', sans-serif; /* Fonte para o corpo */
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif; /* Fonte para títulos */
}

h4, h5, h6 {
    font-family: 'Lora', serif; /* Fonte para subtítulos */
}